@{
    ViewData["Title"] = "Library Admin";
}

@model BookingApp.Models.AvailableBooksViewModel

<div class="container">
    <div>Next Excute Job: <i id="countdown"></i> </div>
    <div id="divMsgs" class="row">
        @{
            Microsoft.Extensions.Primitives.StringValues queryVal;

            if (Context.Request.Query.TryGetValue("error", out queryVal) &&
                queryVal.FirstOrDefault() == "reserved")
            {
                <p class="text-danger">There is reservation linked. Cancel it before.</p>
            }
            else if (Context.Request.Query.TryGetValue("error", out queryVal) &&
                queryVal.FirstOrDefault() == "oneAdmin")
            {
                <p class="text-danger">There is only one admin.</p>
            }
            else if (Context.Request.Query.TryGetValue("error", out queryVal) &&
               queryVal.FirstOrDefault() == "sameUser")
            {
                <p class="text-danger">You cannot delete yourself.</p>
            }
            else if (Context.Request.Query.TryGetValue("error", out queryVal) &&
               queryVal.FirstOrDefault() == "wrongUser")
            {
                <p class="text-danger">You cannot edit unexisting users.</p>
            }
            else if (Context.Request.Query.TryGetValue("error", out queryVal) &&
               queryVal.FirstOrDefault() == "wrongBook")
            {
                <p class="text-danger">You cannot edit unexisting books.</p>
            }
            else if (Context.Request.Query.TryGetValue("error", out queryVal) &&
               queryVal.FirstOrDefault() == "wrongBarcode")
            {
                <p class="text-danger">Wrong barcode.</p>
            }
            else if (Context.Request.Query.TryGetValue("error", out queryVal) &&
               queryVal.FirstOrDefault() == "reservedBook")
            {
                <p class="text-danger">This barcode is reserved.</p>
            }
            else if (Context.Request.Query.TryGetValue("error", out queryVal) &&
               queryVal.FirstOrDefault() == "error")
            {
                <p class="text-danger">Try again later.</p>
            }
            else if (Context.Request.Query.TryGetValue("msg", out queryVal) &&
              queryVal.FirstOrDefault() == "userDeleted")
            {
                <p class="text-success">The user was deleted.</p>
            }
            else if (Context.Request.Query.TryGetValue("msg", out queryVal) &&
              queryVal.FirstOrDefault() == "bookDeleted")
            {
                <p class="text-success">The book was deleted.</p>
            }
            else if (Context.Request.Query.TryGetValue("msg", out queryVal) &&
              queryVal.FirstOrDefault() == "reservationCanceled")
            {
                <p class="text-success">The reservation was canceled.</p>
            }
            else if (Context.Request.Query.TryGetValue("msg", out queryVal) &&
              queryVal.FirstOrDefault() == "collected")
            {
                <p class="text-success">The book was collected.</p>
            }
            else if (Context.Request.Query.TryGetValue("msg", out queryVal) &&
              queryVal.FirstOrDefault() == "returned")
            {
                <p class="text-success">The book was returned.</p>
            }
        }
    </div>
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#booksTab" data-toggle="tab">Máy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#reservations" data-toggle="tab">Tài khoản</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" href="#users" data-toggle="tab">Danh sách username</a>
            </li>
        </ul>

        <div class="tab-content clearfix">
            <div class="tab-pane active" id="booksTab">
                <div class="row">
                    <div class="col">
                        <h4>Danh sách Máy</h4>
                    </div>
                    <div class="col col-right">
                        <p class="pNew">
                            @Html.ActionLink("Thêm máy", "Index", "Book")
                        </p>
                    </div>
                </div>
                <dl class="row">
                    <dd class="col-sm-12">
                        <table class="tblResponsive">
                            <thead>
                                <tr>
                                    <th>Tên máy</th>
                                    <th>Mã máy</th>
                                    <th>Tổng số Acc</th>
                                    <th>Acc OK</th>
                                    <th>Acc Die</th>
                                    <th>Dư Video</th>
                                    <th>Kẹt</th>
                                    <th>Check Acc</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.AvailableBooks)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Book)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Author)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalAccount)
                                        </td>
                                                         <td>
                                            @Html.DisplayFor(modelItem => item.AccountStatusOK)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AccountStatusDIE)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ActionOVERVIDEO)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ActionKET)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ActionCHECKACC)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Sửa", "Update", "Book", new { id = item.BookId })
                                        </td>
                                        <td>
                                            @Html.ActionLink("Xóa", "DeleteBook", "Library", new { id = item.BookId }, new { @onclick = "return confirm('Are you sure?')" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </dd>
                </dl>
            </div>
            <div class="tab-pane" id="reservations">
                <div class="col">
                    <h4>Danh sách tài khoản</h4>
                </div>
                <div class="col col-right">
                    <p class="pNew">
                        @Html.ActionLink("Thêm channel", "Index", "Channel")
                    </p>
                </div>
                <dl class="row">
                    <dd class="col-sm-12">
                        <table class="tblResponsive">
                            <thead>
                                <tr>
                                    <th>Máy</th>
                                    <th>Acc</th>
                                    <th>AccountStatus</th>
                                    <th>ACtion</th>
                                    <th>Videos</th>
                                    <th>LastVideo</th>
                                    <th>ViewCount</th>
                                    <th>LikeCount</th>
                                    <th>CreatedDateString</th>
                                    <th></th>
                              @*      <th></th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Channels)
                                {
                                    <tr >
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BookName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td style="color: white;background-color: @(item.StatusName == "OK" ? "green" : "red")">
                                            @Html.DisplayFor(modelItem => item.StatusName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ActionName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VideoCount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LastVideoCreatedDateString)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ViewCount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LikeCount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedDateString)
                                        </td>
                            @*            <td>
                                            @Html.ActionLink("Sửa", "Update", "Channel", new { id = item.ChannelId })
                                        </td>*@
                                        <td>
                                            @Html.ActionLink("Xóa", "DeleteChannel", "Library", new { id = item.ChannelId }, new { @onclick = "return confirm('Are you sure?')" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </dd>
                </dl>
            </div>
            <div class="tab-pane" id="users">
                <div class="row">
                    <div class="col">
                        <h4>Danh sách username</h4>
                    </div>
                    <div class="col col-right">
                        <p class="pNew">
                            @Html.ActionLink("Thêm user", "Index", "Account")
                        </p>
                    </div>
                    <div class="col col-right">
                        <p class="pNew">
                            @Html.ActionLink("Thêm nhiều user bằng file", "MutiAdd", "Account")
                        </p>
                    </div>
                    <div class="col col-right">
                        <p class="pNew">
                            @Html.ActionLink("Xoá toàn bộ", "DeleteAll", "Account")
                        </p>
                    </div>
                </div>
                <dl class="row">
                    <dd class="col-sm-12">
                        <table class="tblResponsive1">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Accounts)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
           
                                        <td>
                                            @Html.ActionLink("Sửa", "Update", "Account", new { id = item.BookId })
                                        </td>
                                        <td>
                                            @Html.ActionLink("Xóa", "DeleteAccount", "Account", new { id = item.BookId }, new { @onclick = "return confirm('Are you sure?')" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </dd>
                </dl>
            </div>

        </div>
    </div>
</div>

<script src="~/lib/jquery-3.3.1.min.js"></script>

<style>

    h4 {
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .pNew {
        padding-top: 12px;
    }

    .col-right {
        text-align: right;
    }
</style>
<style>
    /* Style for the table */
    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }

    /* Style for table header */
    th {
        background-color: #f2f2f2;
        color: #333;
        padding: 8px;
        text-align: left;
    }

    /* Style for table rows */
    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    /* Style for table cells */
    td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }

    /* Hover effect for table rows */
    tr:hover {
        background-color: #f2f2f2;
    }
</style>
<link rel="stylesheet" type="text/css" href="~/lib/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script type="text/javascript">

    // Lấy thời gian hiện tại
    const now = new Date();
    console.log(@Model.nextExcuteJob.Month)
    // Lấy ngày và giờ kết thúc
    const endDate = new Date(@Model.nextExcuteJob.Year, @Model.nextExcuteJob.Month -1,
    @Model.nextExcuteJob.Day, @Model.nextExcuteJob.Hour, @Model.nextExcuteJob.Minute, @Model.nextExcuteJob.Second) // Thay đổi ngày và giờ kết thúc theo ý muốn
    console.log(endDate)
    //console.log(startDate)
    // Tính toán thời gian còn lại
    const totalSeconds = Math.floor((endDate - now) / 1000);

    // Hàm đếm ngược
    function countdown() {
        // Cập nhật thời gian còn lại
        const remainingSeconds = totalSeconds - Math.floor((new Date() - now) / 1000);

        // Hiển thị thời gian còn lại
        const minutes = Math.floor(remainingSeconds / 60);
        const seconds = remainingSeconds % 60 ;
        if (seconds < 0) seconds == 0  
        if (minutes < 0) minutes == 0
        document.getElementById("countdown").innerHTML = `${minutes} phút ${seconds} giây`;

        // Gọi hàm đếm ngược mỗi giây
        setTimeout(countdown, 1000);
    }

    // Bắt đầu đếm ngược
    countdown();
</script>
<script>

    $(function () {
        $('.tblResponsive').DataTable({
            responsive: true,
            paginate: false
        });
        $('.tblResponsive1').DataTable({
            responsive: true,
            paginate: true
        });
        $(".collect").click(function (e) {
            e.preventDefault();
            let id = $(this).attr('id').split("-")[1];

            var barcodeID = prompt('Please enter the barcode', '');

            $("#divMsgs").empty();
            if (barcodeID === undefined || barcodeID === null || barcodeID === "") {
                $("#divMsgs").append(`<p class="text-danger">The barcode cannot be empty.</p>`);
            } else if (barcodeID.length < 8) {
                $("#divMsgs").append(`<p class="text-danger">Wrong barcode size.</p>`);
            }
            else {
                location.replace(`${window.location.origin}/Library/CollectBook/${id}?barcode=${barcodeID}`);
            }
        });
    });
</script>
