@{
    ViewData["Title"] = "Computer Manager ";
}

@model List<BookingApp.Models.ChannelYoutubeModel>

<div class="container">
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#booksTab" data-toggle="tab">Computer </a>
            </li>
        </ul>

        <div class="tab-content clearfix">
            <div class="tab-pane active" id="booksTab">
                <div class="row">
                    <div class="col">
                        <h4>Danh sách </h4>
                    </div>
                    <div class="col col-right">
                        <p class="pNew">
                            @Html.ActionLink("Thêm mới", "Create", "Computer")
                        </p>
                    </div>
                </div>
                <dl class="row">
                    <div class="tab-content clearfix">
                        <div class="tab-pane active" id="booksTab">
                            <div class="row">
                                <div class="col-sm-12">

                                    <div class="tab-content">
                                        <div id="tab_1" class="tab-pane active">
                                            <div class="box">
                                                <!-- Bộ tìm kiếm -->
                                                <div class="box-body" id="zone_timkiem">
                                                    <!--Row 1-->
                                                    <!--End Row 1-->
                                                    <!--Row 2-->
                                                    <div style="width: 100%">
                                                        <div style="width: 10%; float: left">
                                                            <label style="margin-top: 5px !important">Từ khoá </label>
                                                        </div>
                                                        <div style="width: 30%; float: left; padding-right: 10px;">
                                                            <input type="text" id="ngay_nhapxuat"  class="form-control" />
                                                        </div>

                                                        <div class="clear"></div>
                                                    </div>
                                                    <!--End Row 2-->
                                                    <!--Row 3-->
                                                    <!--End Row 3-->
                                                    <!--Row 4-->
                                                    <div style="width: 100%">
                                                        <div style="width: 10%; float: left">
                                                            <label style="margin-top: 0px !important"></label>
                                                        </div>
                                                        <div style="width: 70%; float: left; margin-right: 10px">
                                                            <div class="pull-left">
                                                                <a class="btn btn-default" href="javascript:void(0)" id="btnTimKiem" title="Tìm kiếm"><i class="fa fa-search"></i> Tìm kiếm </a>
                                                                <a title="Hủy tìm kiếm" class="btn btn-default" id="btnHuyTimKiem"><i class="fa fa-undo"></i> Hủy tìm kiếm </a>
                                                            </div>
                                                            <div class="pull-right" style="margin-top: 10px">
                                                            </div>
                                                        </div>
                                                        <div style="width: 20%; float: left">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--End Row 6-->
                                                <!--Table-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <dl class="row">
                                <dd class="col-sm-12">
                                    <table id="tbldata" class="table table-bordered table-hover tbl-pagination" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th style="display: none">Id</th>
                                                <th style="width: 200px; text-align: center !important">Computer Name</th>
                                                <th style="width: 350px; text-align: center !important">Computer Token</th>
                                                <th style="width: 250px;text-align: center !important">Employee</th>
                                                <th style="width: 100px;text-align: center !important;">Status</th>
                                                <th style="width: 70px;text-align: center !important;">Edit</th>
                                                <th style="width: 70px;text-align: center !important;">Delete</th>

                                                <th style="width: 70px;text-align: center !important;">History</th>
                                                <th style="width: 70px;text-align: center !important;">Live</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </dd>
                            </dl>
                        </div>
                    </div>

@*                     <dd class="col-sm-12">
                        <table class="tblResponsive">
                            <thead>
                                <tr>
                                    <th>Computer Name</th>
                                    <th>Computer Token</th>               
                                    <th>Employee </th>
                                    <th>Status</th> 
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr >
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Link)
                                        </td>
                     
                                        <td>
                                             @Html.DisplayFor(modelItem => item.UserId)
                                        </td>

                                                  <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                        <td>
                                                @Html.ActionLink("Sửa", "Update", "Computer", new { id = item.Id })
                                        </td>
                                        <td>
                                                @Html.ActionLink("Xóa", "Delete", "Computer", new { id = item.Id }, new { @onclick = "return confirm('Are you sure?')" })
                                        </td>
                                        <td>
                                            @Html.ActionLink("Lịch sử", "List", "Video", new { id = item.Id })
                                        </td>
                                        <td>
                                            @Html.ActionLink("Live", "Live", "Computer", new { id = item.Id })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </dd>
 *@                </dl>
            </div>
        </div>
    </div>
</div>
<style>

    h4 {
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .pNew {
        padding-top: 12px;
    }

    .col-right {
        text-align: right;
    }
</style>
<style>
    /* Style for the table */
    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }

    /* Style for table header */
    th {
        background-color: #f2f2f2;
        color: #333;
        padding: 8px;
        text-align: left;
    }

    /* Style for table rows */
    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    /* Style for table cells */
    td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }

    /* Hover effect for table rows */
    tr:hover {
        background-color: #f2f2f2;
    }
</style>
<script src="/js/Video/List_computer.js?v=1" type="text/javascript"></script>
<script type="text/javascript">
    var main_doc = {};
    main_doc['List_computer'] = new List_computer();
    $(document).ready(function () {
        main_doc.List_computer.init();
    });
</script>