@{
    ViewData["Title"] = "Videos ";
}
@model BookingApp.DB.Classes.DB.Videos
<div class="container" style="font-size:18px!important">
    <div >
        <h4>Video </h4>
        <div class="row">
            <div class="col-9">
                <video id="my-player"
                       class="video-js vjs-default-skin vjs-16-9"
                       @* style="width:90%!important;height:400px!important" *@
                       controls
                       preload="auto"
                       data-setup='{ "playbackRates": [0.5, 1, 1.5, 2] }'>
                    <source id="source" src="@ViewBag.filePath" type="video/mp4"></source>
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a
                        web browser that
                        <a href="https://videojs.com/html5-video-support/" target="_blank">
                            supports HTML5 video
                        </a>
                    </p>
                </video> 
                <div class="row">
                    <div class="video-info col-12">
                        <div class="row video-stats">
                            <span style="font-weight: bold;"> @ViewBag.channel</span>
                            <span>•</span>
                            <span id="time" style="font-weight: bold;">@Model.Start - @Model.End </span>
                        </div>
                        <div class="row video-description col-12" style="padding-left: 0px!important">
                            <p id="apps" style="font-size:14px!important;padding-left: 0px!important " class="multiline col-6"> @Model.Apps</p>
                            <p id="keylog" style="font-size:14px!important;padding-left: 0px!important" class="multiline col-6"> @Model.Keylog</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-3">
                <h2>Related Videos</h2>
                <div class="video-list" style="font-size:16px">
                    @foreach (var item in ViewBag.relatedVideo)
                    {
                        <!-- Each video item -->
                        <div class="video-item" onclick="setVideo('@item.Id')" >
                            <video style="width:60%!important;height:60%!important">
                                <source src='/@item.VideoPath.Replace(@"\",@"/")' type="video/mp4">
                            </video>
                            <div class="video-title">@item.Start - @item.End</div>

                        </div>
                        <!-- Repeat for more videos -->
                    }
                </div>
            </div>
        </div>

    </div>
</div>
<style>
    .multiline {
        white-space: pre-line;
    }
    main {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        font-size: 13px!important;
    }

    .video-player {
        width: 70%;
    }

        .video-player video {
            width: 100%;
            border-radius: 4px;
        }

    .video-info {
        padding: 20px 0;
    }

    .video-stats {
        color: #606060;
    }

    .related-videos {
        width: 28%;
    }

        .related-videos h2 {
            margin: 0;
            padding-bottom: 10px;
        }

    .video-list {
        display: flex;
        flex-direction: column;
    }

    .video-item {
        display: flex;
        margin-bottom: 10px;
        box-shadow: 1px 1px 1px 1px #888888;
    }

        .video-item img {
            width: 120px;
            height: 70px;
            border-radius: 4px;
        }

        .video-item .video-title {
            margin-left: 10px;
            align-self: center;
        }
    .actions {
        text-align: right;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        padding: 6px 0px;
        border-radius: 15px;
        text-align: center;
        font-size: 12px;
        line-height: 1.42857;
    }

    .div-center {
        width: 90%;
        margin: auto;
        max-width: 400px;
        overflow: auto;
        padding: 1em 2em;
    }
</style>
<link href="~/lib/video-js.min.css" rel="stylesheet">
<script src="~/lib/video.min.js"></script>
<script>
@*     var myPlayer = videojs('my-player');
    myPlayer.ready(function () 
    { myPlayer.on('timeupdate', 
    function () 
    { var whereYouAt = myPlayer.currentTime(); 
        if (!myPlayer.paused()) 
        { console.log(whereYouAt); } 
        console.log(myPlayer.paused());
    }); 
    }); *@
    function setVideo(id) {
        $.ajax({
            url: "/api/Upload/Get",
            dataType: "json",
            type: "GET",
            contentType: 'application/json; charset=utf-8', //define a contentType of your request
            cache: false,
            data: { id: id },
            success: function (data) {
                // data is your result from controller
                console.log(data)
                var player = videojs('my-player');
                player.src({ type: 'video/mp4', src: data.videoPath });
                document.getElementById("keylog").innerHTML = data.keylog;
                document.getElementById("time").innerHTML = data.start + " - " + data.end;
                document.getElementById("apps").innerHTML = data.apps;
            },
            error: function (xhr) {
                alert('error');
            }
        });
    }
</script>