@{
    ViewData["Title"] = "Cockatoo Account Manager ";
}

@model List<BookingApp.DB.Classes.DB.CookaAccounts>

<div class="container">
    <div id="divMsgs" class="row">
        @{
            Microsoft.Extensions.Primitives.StringValues queryVal;

            if (Context.Request.Query.TryGetValue("error", out queryVal) &&
                queryVal.FirstOrDefault() == "reserved")
            {
                <p class="text-danger">There is reservation linked. Cancel it before.</p>
            }
            else if (Context.Request.Query.TryGetValue("error", out queryVal) &&
                queryVal.FirstOrDefault() == "oneAdmin")
            {
                <p class="text-danger">There is only one admin.</p>
            }
            else if (Context.Request.Query.TryGetValue("error", out queryVal) &&
               queryVal.FirstOrDefault() == "sameUser")
            {
                <p class="text-danger">You cannot delete yourself.</p>
            }
            else if (Context.Request.Query.TryGetValue("error", out queryVal) &&
               queryVal.FirstOrDefault() == "wrongUser")
            {
                <p class="text-danger">You cannot edit unexisting users.</p>
            }
            else if (Context.Request.Query.TryGetValue("error", out queryVal) &&
            queryVal.FirstOrDefault() == "wrongData")
            {
                <p class="text-danger">You cannot edit unexisting datas.</p>
            }
            else if (Context.Request.Query.TryGetValue("error", out queryVal) &&
               queryVal.FirstOrDefault() == "error")
            {
                <p class="text-danger">Try again later.</p>
            }
            else if (Context.Request.Query.TryGetValue("msg", out queryVal) &&
              queryVal.FirstOrDefault() == "bookDeleted")
            {
                <p class="text-success">The data was deleted.</p>
            }
            else if (Context.Request.Query.TryGetValue("msg", out queryVal) &&
              queryVal.FirstOrDefault() == "reservationCanceled")
            {
                <p class="text-success">The reservation was canceled.</p>
            }
            else if (Context.Request.Query.TryGetValue("msg", out queryVal) &&
              queryVal.FirstOrDefault() == "collected")
            {
                <p class="text-success">The data was collected.</p>
            }
            else if (Context.Request.Query.TryGetValue("msg", out queryVal) &&
              queryVal.FirstOrDefault() == "returned")
            {
                <p class="text-success">The data was returned.</p>
            }
        }
    </div>
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#booksTab" data-toggle="tab">Cockatoo</a>
            </li>
        </ul>

        <div class="tab-content clearfix">
            <div class="tab-pane active" id="booksTab">
                <div class="row">
                    <div class="col">
                        <h4>Danh sách </h4>
                    </div>
                    <div class="col col-right">
                        <p class="pNew">
                            @Html.ActionLink("Thêm mới", "Create", "CookaAccount")
                        </p>
                    </div>
                </div>
                <dl class="row">
                    <dd class="col-sm-12">
                        <table class="tblResponsive">
                            <thead>
                                <tr>
                                    <th>UserName</th>
                                    <th>Password</th>
                                    <th>Language</th>
                                    <th>SleepTime</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Username)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Password)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Language)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SleepTime)
                                        </td>
                                        <td>
                                                @Html.ActionLink("Sửa", "Update", "CookaAccount", new { id = item.Id })
                                        </td>
                                        <td>
                                                @Html.ActionLink("Xóa", "Delete", "CookaAccount", new { id = item.Id }, new { @onclick = "return confirm('Are you sure?')" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery-3.3.1.min.js"></script>

<style>

    h4 {
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .pNew {
        padding-top: 12px;
    }

    .col-right {
        text-align: right;
    }
</style>
<style>
    /* Style for the table */
    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }

    /* Style for table header */
    th {
        background-color: #f2f2f2;
        color: #333;
        padding: 8px;
        text-align: left;
    }

    /* Style for table rows */
    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    /* Style for table cells */
    td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }

    /* Hover effect for table rows */
    tr:hover {
        background-color: #f2f2f2;
    }
</style>
<link rel="stylesheet" type="text/css" href="~/lib/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script>

    $(function () {
        $('.tblResponsive').DataTable({
            responsive: true,
            paginate: false
        });
    });
</script>
